# Laravel / PHP
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*.php
*.log

# Environment
.env
.env.backup
.env.production

# Cache & cache tools
.phpunit.result.cache
.phpactor.json
auth.json

# IDE / Editor
/.idea
/.vscode
/.nova
/.phpunit.cache
/.zed
/.cursor/
.codex

# OS files
.DS_Store
Thumbs.db

# Laravel legacy / optional
Homestead.json
Homestead.yaml
/.vagrant

# Laravel public storage (compat)
public_html/storage
public_html/hot
app/storage/
bootstrap/compiled.php